#get-start input[type=text]{
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: black(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}

#get-start input[type=button]{
    position: relative;
    left: 0;
    outline: none;
    color:black;
    background-color: #FFD700;
    border: 1px solid #cdcdcd;
    border-color: black(0,0,0,.15);
    font-size:20px;
    width:100px;
    height:50px
    
}

.lot { 
     background: #FFF url(location.png) no-repeat 4px 4px; 
    border: 1px solid #999; 
    outline:0; 
    padding-left: 55px;
    height:25px; 
    width: 275px; 
  } 
  
 .serc { 
     background: #FFF url(magnifier.png) no-repeat 4px 4px; 
    border: 1px solid #999; 
    outline:0; 
    padding-left: 55px;
    height:25px; 
    width: 275px; 
  } 


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float:right;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.line {
  position: relative;
  text-align: center;
}
.line:after {
  content: "";
  border-bottom: 4px double orange;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.line span {
  padding: 0 8px;
  background-color: white;
  position: relative;
}

.recommended:hover {
    position:relative;
    
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}



.carousel-inner .active.left  { left: -33%;             }
    .carousel-inner .active.right { left: 33%;              }
    .carousel-inner .next         { left: 33%               }
    .carousel-inner .prev         { left: -33%              }
    .carousel-control.left        { background-image: none; }
    .carousel-control.right       { background-image: none; }
    .carousel-inner .item         { background: white;      }